body{
    background-color: aquamarine;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.link {
    text-decoration: none;
    color: red;
    font-style: italic;
}
.claseh {
    text-align: center;
    font-family: roboto;
}
.div1{
    background-color: blue;
    width: 33%;
}
.div2{
    background-color: blueviolet;
    width: 33%;
}
.div3{
    background-color: #597;
    width: 33%;
}